# Environment & Jupyter requirements
ipykernel
python-dotenv
# LLM providers
openai
llama-cpp-python
huggingface-hub
google-genai
mistralai
# A2A and MCP/O requirements
python-a2a
mcp
uv
uvicorn
mcpo
requests
# langchain and tools
langchain-tavily